# JavaScript Web Token
# Generate with `openssl rand -base64 64` and remove the newline.
export JWT_SECRET="insert secret here"

# Database Variables
# Both the goose (pressly/goose) tool and the program itself use these to connect to the database.
export GOOSE_DRIVER="sqlite3"
export GOOSE_DBSTRING="./notes.db"
export GOOSE_MIGRATION_DIR="./sql/schema"

# TEMPORARY FIX
# mattn/go-sqlite3 has warnings for discarded qualifiers currently, this is to suppress those warnings.
export CGO_CFLAGS="-Wno-discarded-qualifiers"
